#resumeContainer {
    display: flex;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 99vw;
    margin: auto;
    border: 1px solid rgb(224, 224, 224);
}

#header, #columns {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    flex-wrap: wrap;
}

#profileContain {
    display: flex;
    margin: auto;
    padding: 0 2em;
}

#profileimg img {
    max-width: 120px;
    border: none;
    border-radius:50%;
    margin-right:10px;
    box-shadow: 2px 2px 2px rgb(196, 195, 195);
}

#jobtitle {
    color: dodgerblue;
    font-size: medium;
    font-weight:300;
    position: relative;
    top: -15px;
}

#personalinfo {
    display: flex;
    margin: auto;
    padding: 1em 2em 0 2em;
}

#infofields>p {
    font-weight: 600;
    margin: 0;
}

#infovalues>p {
    margin: 0 0 0 10px;
    color: rgb(99, 100, 100)
}

#summary {
    margin: 0 auto;
    border-bottom: 1px solid rgb(223, 226, 228);
    padding: 1em 2em;
    color: rgb(99, 100, 100)
}

#columns {
    margin: 0 auto;
    width: 90%;
    padding: 0 2em;
}

#leftcolumn {
    margin-right: 1rem;
    flex-grow: 1;
}

#rightcolumn {
    margin-right: 1rem;
    flex-grow: 1;
}

#employment>h2::before {
    content: "\1F3E2";
    font-size: large;
}

#education>h2::before {
    content: "\1F393";
    font-size: large;
}


.category, .orgrole h2,h3 {
    font-size: medium;
    font-weight:700;
}

.itemheader {
    display: flex;
    position: relative;
    top: -10px;
}

.date {
    margin-left: auto;
    font-size: medium;
    font-weight:400;
    color: rgb(99, 100, 100);
}

.des, .role {
    position: relative;
    top:-10px;
    color: rgb(99, 100, 100);
    font-weight:400;
}

.category {
    background-color: rgb(223, 226, 228);
}

.des p {
    padding-bottom: 1em;
    border-bottom: 1px solid rgb(223, 226, 228);
    max-width: 25rem;
}

a {
    color: rgb(99, 100, 100);
    text-decoration: none;
}

.skillimg {
    width: 10em;
    transition: all 1s ease-in-out;
}

.skillimg:hover {
    width: 11em;
}

/* Responsive layout that reduces stretch on larger screens */
@media screen and (min-width: 768px) {    
    #summary {
        padding: 1em 4em;
        max-width: 80%;
        margin: auto;
    }   
    #columns {
        max-width: 80%;
        margin: auto;
    }
    #leftcolumn {
        flex-grow: 1;
    }
    #rightcolumn {
        flex-grow: 1;
    }
}